.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-login {
    width: 100%;
}

.column {
    flex-direction: column;
}

.center > button {
    margin: 1%;
}

.center > .card {
    margin: 10%;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}
.row > h5 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #cecece;
    text-shadow: 0 0 30px black;
    margin-top: 30px;
}

.row > h3 {
    font-weight: bold;
    font-size: 1rem;
    color: #cecece;
    text-shadow: 0 0 30px black;
}

.row {
    justify-content: center;

}

h4 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #cecece;
    text-shadow: 0 0 30px black;
    margin-top: 30px;
}

.test-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column
}

.cards {
    justify-content: center;
}

.btn-primary {
    background-color: #6d3180;
    border-color: #6d3180;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #371b42;
    border-color: #371b42;

}

#view-panel {
    color: #f7f7f7;
    margin-bottom: 30px;
    flex-direction: column;
}